:root {
    --White: hsl(0, 0%, 100%);
    --Offwhite: hsl(0, 0%, 94%);
    --Lightgrey: hsl(0, 0%, 86%);
    --Smokeygrey: hsl(0, 1%, 44%);
    --Offblack: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Lightred: hsl(0, 100%, 67%)
    font-family: 'Poppins', sans-serif;

}
*,
*::after,
*::before{
   margin:0;
   font-family: 'Poppins', sans-serif;

}

body{
    width: 100%;
}

.calc{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--Lightgrey);
    margin: 0 auto;
    width: 35%;
    border-radius: 20px 20px 200px 20px;
    
}
button{
    clear: both;;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 30px;
    background-color: var(--Purple);
    float: right;
    width: 100px;
    height: 100px;
    background-image: url(../images/icon-arrow.svg);
    background-size: cover;
    align-self: flex-end;
    position: absolute;

    

}
.error{
    margin:10px;
}

.red{
    color: red;
}


@media(max-width:375px){
    .calc{
        padding: 0;
        width: 100%;
        margin: 0;
    }

    body{
        width: 100%;
    }
    button{
        margin: 0 0;
        padding: 0;
        width: 50px;
        height: 50px;
       
        
    }
   .error{
    width: 100%;
    font-size: 0.5rem;
   }
    
}